<div id="menuContainer"> 
    <div class="menu">
        <div class="title">Base Color</div>
        <div class="action">
            # <input type="text" class="mini" ng-model="baseColor"/>
        </div>
    </div>
    <div class="menu">
        <div class="title">Position</div>
        <div class="action">
            Y: <input type="text" class="mini" ng-model="yPosition"/> px
        </div>
    </div>
    <div class="menu">
        <div class="title">Radius</div>
        <div class="action">
            <input type="text" ng-model="radius"/>
        </div>
    </div>
    <div class="menu">
        <div class="title">Animate</div>
        <div class="action">
            Step: <input type="text" class="mini" ng-model="animationSteps"/>
            <button type="button" ng-click="update()">Go</button>
        </div>
    </div>
    <div class="menu">
        <div class="title">Space</div>
        <div class="action">
            <input type="radio" ng-model="spaceColor" value="black">Black &nbsp;
            <input type="radio" ng-model="spaceColor" value="white">White
        </div>
    </div>
</div>
